.container {
  height: 100%;
  width: 100%;
}

.selected {
  outline-color: yellow;
  outline-style: solid;
}

.highlighted {
  outline-color: purple;
  outline-style: solid;
}

.timeline_line {
  stroke: purple;
}

.timeline_date {
  fill: purple;
}
