.container {
  height: 100%;
  width: 100%;
}

.selected {
  outline: 3px solid yellow;
}

.highlighted {
  outline: 10px solid purple;
}

.timeline_line {
  stroke: purple;
  stroke-width: 1px;
}

.timeline_date {
  fill: purple;
}
