.container {
  height: 100%;
  width: 100%;
}

.selected {
  outline: 3px solid yellow;
}

.highlighted {
  outline: 10px solid purple;
}

.axis {
  font-size: 3em;
  stroke-width: 0.1em;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.timeline_line {
  stroke: white;
  stroke-width: 1px;
}
